<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Nest Supabase OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nest</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Tap Slack OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tapmeeting</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/tomlidgett1/nest/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>oQxYE9sAaY501miohbPOD/Z5dw/t9GCiF9Ppc2JeK0Y=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
</dict>
</plist>
